html ,body{
    margin: 0px;
    font-weight: 100;
    display: flex;
    font-family: Montserrat, sans-serif;
}
.navigation{
  position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.7em;
    color: white;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 15vw;
    background-color: #0e0d2c;
}
.main{
    margin-left: 15vw;
    width: 85vw;
}
.all{ 
    display: flex;
}
.logo{
    margin: 0 2em 0 2em;
    width: 5vw;
    height: 5vw;
}

.services p{
    margin: 2em 0 2em 0;
}
.services{
    margin: 2em 0 2em 0;
    font-size: 1.2vw;
    color: white;
}
.logo-container p{
    margin: 0;
}
.contacts{
    color: rgb(136, 137, 138);
    margin: 2em;
    font-size: 0.8vw;
}
.change-language{
    font-size: 1vw;
    margin-top: 0.5em;

}

.nacalo{
    align-content: center;
    background-image: url(./img/2024-12-31\ 15.09.49.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 8em 0 8em;
    height: 100vh;
    
}
.book-a-room{
    border: black;
    font-size: 1.8vw;
    border-radius: 1vw;
    background-color: #baa37a;
    color: white;
    width: auto;
    height: auto;
    padding: 0.7em;
    &:hover{
        transition: ease 0.3s;
        background-color: #8f7852;
    }
}

.main{
    display: flex;
    flex-direction: column;
}
.rooms{
    display: flex;
    flex-direction: column;
    background-color: #baa37a;
    height: 100vh;
}

#carouselExampleIndicators{
    height: 70vh;
}
.carousel-item{
    height: 70vh;
}
.d-block{
    position: absolute;
    padding: 2vw 20vw 2vw 2vw;
    height: 70vh;
}
.carousel-control-next, .carousel-control-prev{
    width: 3vw;
}
.carousel-inner{
    position: absolute;
}
.carousel-control-next{
    right: -3.5vw;
}
.carousel-control-prev{
    left: -3.5vw;
}
.carousel-indicators{
    margin-bottom: 0;
}
.describe-item{ 
    padding-right: 2vw;
    transform: translateY(17%);
    color: white;
    width:18vw;
    text-align: center;
    float: right;
    height: auto;

}
.type-of-room{
    font-size: 40px;
    font-weight: 600;
}
.mini-img{
    width: 3em;
}
.just-img{
    padding: 2vw 2vw;
    height: 70vh;
}
.button-for-booking{
    background-color: #0e0d2c;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 0.8vw 1.2vw;
    &:hover{
        transition: ease 0.3s;
        background-color: #262650;
    }
}

.carousel{
    margin: 7vh 4vw 0 4vw;
    border: 2px white solid;
}
.vstup{
    color: black;
    padding: 3vh 0 1vh 3vw;
    background-color: white;
}
.describe-room span{
    height: 5vh;
}
.describe-room{
    color: white;
    text-align: center;
    margin: 8vh 0;
    display: flex;
    flex-direction: column;
    
}

.g, .b, .p{
    position: relative;
    vertical-align: middle;
    &::before{
        content: "";
        background-size: cover;  
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        right: 14vw;
        
    }
}
.g::before{
    background-image: url(./img/photo_2025-01-25_22.46.50-removebg-preview.png);
}
.b::before{
    background-image: url(./img/photo_2025-01-25_22.46.52-removebg-preview.png);
}
.p::before{
    background-image: url(./img/photo_2025-01-25_22.46.55-removebg-preview.png);
}